@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a BI-Clouds</h1>
    <img src="~/images/bicloudshd.png" alt="BI-Clouds"/>
    <p>SOMOS ARQUITECTOS DE SOLUCIONES INFORMÁTICAS</p>
</div>
