@{
    ViewData["Title"] = "NUESTRO EQUIPO";
}
<div class="text-center">
    <h1 style ="padding-top: 20px; padding-bottom: 20px;">@ViewData["Title"]</h1>
    <img src="~/images/Equipo BI-Clouds.jpg" alt="Equipo" style="width: 700px; height: auto; margin: 0 auto; padding-top: 20px; padding-bottom: 20px;" />
    <p style="padding-top: 20px; padding-bottom: 20px;">BI-Clouds nació a fines de 2022 con mi grupo de amigos y compañeros de la carrera. Esta es nuestra foto presentando el proyecto TEAdidact para lo que resta de este año 2024 ¿Por qué presento al equipo?. Porque creo que además de los conocimientos y el aprendizaje que uno debe sumar en la carrera, es importante saber trabajar en equipo en el área IT.</p>
</div>